<!DOCTYPE html>
<html>

<head>
  <title>About us</title>
</head>

<body>
<div style="text-align: center; margin-bottom :50px">
  ==================
  <h1 style="font-family: billabong">About us</h1>
  ==================
</div>
  <div class="container">
    <h2>ブログは私たちのグループによって作成されました。</h2><br>
    <div class="card">
      <p><b>メンバー:</b><br><br>
        1.Trần Nam Dương <br>
        2.Trần Xuân Năng<br>
        3.Phạm Nguyễn Gia Hòa <br>
        4.　チン・カイン・リー <br>
        5.Lê Thanh Bảo <br>
        6.Lê Anh Hào <br><br>
        Welcome our blog!</p>
    </div><br>
    <div class="card">
      <h1></h1>
      <p></p>
    </div>
    <br>
    
    
  </div>
</body>

</html>